In [1]:
from used_car_module import *

In [2]:
#create an object from the 'used_car_model' class
model = used_car_model('model')

In [3]:
#call the 'load_and_clean_data' method
model.load_and_clean_data('C:\\Users\\feder\\Downloads\\Module\\NEW Data.csv')

In [4]:
#call the 'predict_output' method
model.predict_output()

,Brand,Price,Body,Mileage,EngineV,Engine Type,log_price,Prediction
0,BMW,4200.0,sedan,277,2.0,Petrol,8.342840,4310.719092
1,Mercedes-Benz,13300.0,sedan,358,5.0,Gas,9.495519,5576.392276
2,Audi,23000.0,crossover,240,4.2,Petrol,10.043249,10623.346668
3,Toyota,18300.0,crossover,120,2.0,Petrol,9.814656,12663.161525
4,Audi,14200.0,vagon,200,2.7,Diesel,9.560997,8831.412691
...,...,...,...,...,...,...,...,...
145,Volkswagen,7900.0,other,168,1.9,Diesel,8.974618,9164.344648
146,Toyota,28500.0,crossover,97,3.5,Petrol,10.257659,20158.498401
147,Renault,6900.0,van,140,1.5,Diesel,8.839277,8668.298986
148,BMW,8850.0,vagon,280,2.5,Diesel,9.088173,5464.429048
149,Renault,3100.0,van,164,1.4,Petrol,8.039157,6725.378047

In [6]:
#export to a csv file for analysis in Tableau
model.predict_output().to_csv('C:\\Users\\feder\\OneDrive\\Desktop\\Co-op prep\\Used Car Price Predictions.csv', index=False, encoding='utf-8')